<div class="modal fade" id="addEmpModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Add Employee</h3>
            </div>
            <div class="modal-body">
                <!-- content goes here -->
                <form id="addEmp" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <img class="img-circle img-responsive img-center" id="userpic"
                             src="" style="width: 200px; height: 200px">
                        <input id="file-upload" type="file" name="file-photo" onchange="showUploadedUpic(this)"/>
                        <input id="del-pic" type="button" name="del-photo" onclick="delPic()" value="Удалить"/>
                    </div>
                    <div class="form-group">
                        <label for="family">Family</label>
                        <input class="form-control" type="text" name="family" id="family">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="mail">Email address</label>
                        <input type="email" class="form-control" id="mail">
                    </div>
                    <div class="form-group">
                        <label for="icq">icq</label>
                        <input type="text" class="form-control" id="icq">
                    </div>
                    <div class="form-group">
                        <label for="skype">Skype</label>
                        <input type="text" class="form-control" id="skype">
                    </div>
                    <div class="form-group">
                        <label for="addrsH">Home Address</label>
                        <input type="text" class="form-control" id="addrsH">
                    </div>
                    <div class="form-group">
                        <label for="addrsW">Work Address</label>
                        <input type="text" class="form-control" id="addrsW">
                    </div>
                    <div class="form-group" id="select-department">
                        <label for="select-dep">Department</label>
                        <select id="select-dep" class="form-control"></select>
                    </div>
                    <div class="form-group" id="select-chief">
                        <label for="select-emp">Chief</label>
                        <select id="select-emp" class="form-control"></select>
                    </div>
                    <label for="phones">Phones</label>
                    <div class="pFs" id="phones">
                        <div id="pF1">
                            <input autocomplete="off" class="form-control" id='iPF1' name="phoneInput" type="text"/>
                            <label>Work<input type="radio" name="rPF1" id="rPF1" autocomplete="on" checked></label>
                            <label>Home<input type="radio" name="rPF1" id="rHPF1" autocomplete="off"></label>
                            <button id="bPF1" name="plusMinusPhone" onclick="addOrDellPhone(1)" type="button">+</button>
                            <br>
                        </div>
                    </div>
                    <div class="form-group registration-date">
                        <label for="birthday">Date:</label>
                        <div class="input-group registration-date-time">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar"
                                                                                    aria-hidden="true"></span></span>
                            <input class="form-control" name="birthday" id="birthday" type="date">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" data-dismiss="modal" role="button">Close</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="save" class="btn btn-default btn-hover-green" onclick="subAddEmp()"
                                data-action="save" data-dismiss="modal" role="button">Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
