<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="login" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Login</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="login-field">Ваш логин</label>
                        <input type="text" class="form-control" name="login" id="login-field">
                    </div>
                    <div class="form-group">
                        <label for="password-field">Ваш пароль</label>
                        <input type="password" class="form-control" name="password" id="password-field">
                    </div>
                    <label><input type="checkbox" name="remember">Запомнить меня</label>
                </div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="submit" id="login-sub" class="btn btn-default btn-hover-green"
                                    data-action="login" role="button">Войти
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>